{% load url from future %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                    <th >Mandy</th ><th >Chrissie</th > <th>Tilloxx</th> <th>Fredxxx</th> <th>Marco</th> <th>Andyxx</th>
            </tr>
        </thead>
        <tbody>
            <tr>
		        <td class="tipp2">1:2 (2)</td><td class="tipp2">1:2 (2)</td><td class="tipp2">1:2 (2)</td><td class="tipp2">1:2 (2)</td><td class="tipp2">1:2 (2)</td><td class="tipp2">1:2 (2)</td>
            </tr>
            <tr>
                <td class="tipp0">1:2 (0)</td><td class="tipp0">1:2 (0)</td><td class="tipp0">1:2 (0)</td><td class="tipp0">1:2 (0)</td><td class="tipp0">1:2 (0)</td><td class="tipp0">1:2 (0)</td>
            </tr>
            <tr>
                <td class="tipp0">0:1 (0)</td><td class="tipp0">0:1 (0)</td><td class="tipp0">0:1 (0)</td><td class="tipp0">0:1 (0)</td><td class="tipp0">0:1 (0)</td><td class="tipp0">0:1 (0)</td>
            </tr>
            <tr>
                <td class="tipp1">0:3 (1)</td><td class="tipp1">0:3 (1)</td><td class="tipp1">0:3 (1)</td><td class="tipp1">0:3 (1)</td><td class="tipp1">0:3 (1)</td><td class="tipp1">0:3 (1)</td>
            </tr>
            <tr>
                <td class="tipp0">0:1 (0)</td><td class="tipp0">0:1 (0)</td><td class="tipp0">0:1 (0)</td><td class="tipp0">0:1 (0)</td><td class="tipp0">0:1 (0)</td><td class="tipp0">0:1 (0)</td>
            </tr>
            <tr>
                <td class="tipp1">0:1 (1)</td><td class="tipp1">0:1 (1)</td><td class="tipp1">0:1 (1)</td><td class="tipp1">0:1 (1)</td><td class="tipp1">0:1 (1)</td><td class="tipp1">0:1 (1)</td>
            </tr>
            <tr>
                <td class="tipp0">2:1 (0)</td><td class="tipp0">2:1 (0)</td><td class="tipp0">2:1 (0)</td><td class="tipp0">2:1 (0)</td><td class="tipp0">2:1 (0)</td><td class="tipp0">2:1 (0)</td>
            </tr>
            <tr>
                <td class="tipp3">0:2 (3)</td><td class="tipp3">0:2 (3)</td><td class="tipp3">0:2 (3)</td><td class="tipp3">0:2 (3)</td><td class="tipp3">0:2 (3)</td><td class="tipp3">0:2 (3)</td>
            </tr>
            <tr>
                <td class="tipp0">2:0 (0)</td><td class="tipp0">2:0 (0)</td><td class="tipp0">2:0 (0)</td><td class="tipp0">2:0 (0)</td><td class="tipp0">2:0 (0)</td><td class="tipp0">2:0 (0)</td>
            </tr>
    </table>
</div>

