{% extends 'base.html' %}

{% block title %}BuLiTipp Spieltag 2000{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
   <li class="active"><a href="#buli" data-toggle="tab">Bundesliga</a></li>
   <li ><a href="#pokal" data-toggle="tab">DFB-Pokal</a></li>
   <li ><a href="#wm" data-toggle="tab">WM</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="buli">
        <div class="row">
            <div class="col-md-8">
                {% include "st/st_buli.html" %}
            </div>
            <div class="col-md-4">
                <h2>Bestenliste</h2>
                {% include "bl/bl_buli.html" %}
            </div>
        </div>
    </div>
    <div class="tab-pane" id="pokal">pokal</div>
    <div class="tab-pane" id="wm">wm</div>

{% endblock %}