{% load url from future %}
<div class="table-responsive">
    <table class="table">
        <thead>
<tr>
<th></th>
<th>Fr.</br>VFB</br>BMG</br>0:2</th>
<th>Sa.</br>BSC</br>LEV</br>0:1</th>
<th>Sa.</br>EBR</br>SCF</br>0:1</th>
<th>Sa.</br>SGE</br>S04</br>3:3</th>
<th>Sa.</br>FCN</br>VFL</br>1:1</th>
<th>Sa.</br>FCA</br>HOF</br>2:0</th>
<th>Sa.</br>BVB</br>FCB</br>0:0</th>
<th>So.</br>HSV</br>H96</br>15:30</th>
<th>So.</br>SVW</br>M05</br>17:00</th>
</tr>
        </thead>
        <tbody>
<tr>	<td>chrissi</td>	<td>1:1</td>	<td>2:0</td>	<td>0:0</td>	<td>1:3</td>	<td>0:2</td>	<td>0:1</td>	<td>0:1</td>	<td>3:3</td>	<td>1:3</td>	</tr>
<tr>	<td>mandy</td>	<td>0:0</td>	<td>1:3</td>	<td>0:2</td>	<td>0:1</td>	<td>0:1</td>	<td>3:3</td>	<td>1:3</td>	<td>1:1</td>	<td>2:0</td>	</tr>
<tr>	<td>tillo</td>	<td>3:3</td>	<td>1:3</td>	<td>1:1</td>	<td>2:0</td>	<td>0:0</td>	<td>1:3</td>	<td>0:2</td>	<td>0:1</td>	<td>0:1</td>	</tr>
<tr>	<td>andy</td>	<td>0:0</td>	<td>1:3</td>	<td>1:1</td>	<td>2:0</td>	<td>0:2</td>	<td>0:1</td>	<td>0:1</td>	<td>3:3</td>	<td>1:3</td>	</tr>
        </tbody>
    </table>
<ul class="pager">
  <li class="previous disabled"><a href="#">&larr; Zurück</a></li>
  <li class="next"><a href="#">Weiter&rarr;</a></li>
</ul>
</div>
