{% load url from future %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th >Platz</th ><th >Mitspieler</th ><th >Punkte</th >
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td><td>mandy</td><td>220</td>
            </tr>
            <tr >
                <td>2</td><td>chrissie</td><td>120</td>
            </tr>
            <tr>
                <td>3</td><td>tillo</td><td>20</td>
            </tr>
        </tbody>
    </table>
<ul class="pager">
  <li class="previous disabled"><a href="#">&larr; Zurück</a></li>
  <li class="next"><a href="#">Weiter&rarr;</a></li>
</ul>
</div>
