{% load url from future %}
    
    {% include "st/st_nav.html" %}
    

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                    <th >Spiel</th ><th>mein Tipp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
		<td>Borussia Dortmund (3.) vs Bayer Leverkusen (2.)</td><td><input type="text" class="form-control" placeholder="Tipp" value="0:0"></td>
            </tr>
            <tr>
                <td>Bor. Mönchengladbach (4.) vs FC Schalke 04 (6.)</td><td><input type="text" class="form-control" placeholder="Tipp" value="0:1"></td>
            </tr>
            <tr>
               <td>VfB Stuttgart (10.) vs Hannover 96 (12.)</td><td><input type="text" class="form-control" placeholder="Tipp" value="1:1"></td>
            </tr>
            <tr>
                <td>Werder Bremen (14.) vs Bayern München (1.)</td><td><input type="text" class="form-control" placeholder="Tipp" value="2:1"></td>
            </tr>
            <tr>
                <td>1. FC Nürnberg (17.) vs 1. FSV Mainz 05 (9.)</td><td><input type="text" class="form-control" placeholder="Tipp" value="0:1"></td>
            </tr>
            <tr>
                <td>SC Freiburg (16.) vs VfL Wolfsburg (5.)</td><td><input type="text" class="form-control" placeholder="Tipp" ></td>
            </tr>
            <tr>
                <td>Hamburger SV (13.) vs FC Augsburg (8.)</td><td><input type="text" class="form-control" placeholder="Tipp" ></td>
            </tr>
            <tr>
                <td>Eintracht Braunschweig (18.) vs Hertha BSC (7.)</td><td><input type="text" class="form-control" placeholder="Tipp" ></td>
            </tr>
            <tr>
                <td>Eintracht Frankfurt (15.) vs 1899 Hoffenheim (11.)</td><td><input type="text" class="form-control" placeholder="Tipp" ></td>
            </tr>
    </table>
    <button type="button" class="btn btn-success">Speichern</button>
</div>
<div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>   
