{% extends 'bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

<nav class="navbar navbar-default " role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Home</a>
  </div>
<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Neuigkeiten</a></li>
      <li><a href="#">Spieltag</a></li>
      <li><a href="#">Bestenlisten</a></li>
      <li><a href="#">Einstellungen</a></li>
      <li class="pull-right"><a href="#">Impressum</a></li>
    </ul>
 </nav>
        {% bootstrap_messages %}

        {% block content %}(no content){% endblock %}
    </div>

    {% bootstrap_javascript jquery=1 %}

{% endblock %}
