{% load url from future %}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Das neue Design
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Ja leute schaut euch das an!<br>Zusammen mit meinem Kollegen Tilmann habe ich die Seite hier mal komplett aufgeräumt! Was haltet ihr von dem neuen Design?<br>Nicht vergessen, wir nehmen jederzeit neue Vorschläge entgegen unter: <a href="mailto:info@tippbuli.de">info@TippBuLi.de</a>!
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          DFB Pokal Viertelfinale
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Ich habe gerade das DFB-Pokal Viertelfinale eingetragen, und bitte alle, die Lust haben teilzunehmen, und abzustimmen unter <a href="#">diesem Link</a>.<br><br><b>Viel Erfolg!</b>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          WM 2014 ist ausgelost
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Liebe Tippgemeinschaft,<br><br>unsere kleine Community bekommt eine weitere Dimension:<br><b>Ab heute kann man auch die WM tippen!</b><br>Ich bitte euch wie immer, ganz fleißig mitzumachen, und denkt rechtzeitig an das tippen!
      </div>
    </div>
  </div>
</div>
