{% load url from future %}
    <ul class="nav nav-pills nav-justified">
        <li><a href="#">Voriger</a></li>
        <li class="dropdown">
            <a id="drop5" role="button" data-toggle="dropdown" href="#">Spieltag 03 <b class="caret"></b></a>
            <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Spieltag 01</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Spieltag 02</a></li>
                <li role="presentation" class="active"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Spieltag 03</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Spieltag 04</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Spieltag 05</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Spieltag 06</a></li>
          </ul>
        </li>
       <li><a href="#">Nächster</a></li>
    </ul>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                    <th >Spiel</th ><th >Ergebnis</th >
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bayer vs Dortmund</td><td>1:1</td>
            </tr>
            <tr >
                <td>Kölln vs Berlin</td><td>1:1</td>
            </tr>
            <tr >
                <td>Hamburg vs. Gera</td><td>1:1</td>
            </tr>
            <tr >
                <td>München vs. Hamburg</td><td>1:1</td>
            </tr>
            <tr >
                <td>Cottbus vs. Magdeburg</td><td>1:1</td>
            </tr>
    </table>
</div>

